.list--pokemon {
  list-style: none;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
}

.eachPokemon {
  background-color: #cff3f7;
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px 20px 20px 20px;
  height: 200px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media all and (min-width:425px) {
  .list--pokemon {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (min-width:728px) {
  .list--pokemon {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media all and (min-width:1024px) {
  .list--pokemon {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media all and (min-width:1440px) {
  .list--pokemon {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}